body {
	background: linear-gradient(-45deg, #000000, #696969, #045003fa, #2c0750);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
H1 {
    text-align:right
}