html {
    height:100%
}
body {
    background: linear-gradient(98deg, #000000, #7a002b, #013803, #740070, #000000);
    background-size: 800% 800%;

    -webkit-animation: backgroundgradient 45s ease infinite;
    -moz-animation: backgroundgradient 45s ease infinite;
    animation: backgroundgradient 45s ease infinite;
}

@-webkit-keyframes backgroundgradient {
    0%{background-position:0% 5%}
    50%{background-position:100% 96%}
    100%{background-position:0% 5%}
}
@-moz-keyframes backgroundgradient {
    0%{background-position:0% 5%}
    50%{background-position:100% 96%}
    100%{background-position:0% 5%}
}
@keyframes backgroundgradient {
    0%{background-position:0% 5%}
    50%{background-position:100% 96%}
    100%{background-position:0% 5%}
}
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 75;
  src: local('Prompt'), local('Prompt-Regular'), url(https://fonts.gstatic.com/s/prompt/v4/-W__XJnvUD7dzB2KYNod.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
h1 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 200;
    color: whitesmoke;
    font-size: 10vw;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    margin-bottom: 0;
    margin-top: 8vw;
    text-align: center;
}
h2 {
    font-family: "Ubuntu", sans-serif;
    color: whitesmoke;
    font-weight: 100;
    font-size: 2.5vw;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #0073e6, 0 0 7px #0073e6, 0 0 8px #0073e6, 0 0 9px #0073e6, 0 0 8px #0073e6;
    margin-top: 1vw;
    text-align: center;
}
p {
    font-family: 'Prompt', sans-serif;
    
}