html {
    height:100%
}
body {
    background: linear-gradient(98deg, #000000, #7a002b, #013803, #740070, #000000);
    background-size: 800% 800%;

    -webkit-animation: backgroundgradient 45s ease infinite;
    -moz-animation: backgroundgradient 45s ease infinite;
    animation: backgroundgradient 45s ease infinite;
}

@-webkit-keyframes backgroundgradient {
    0%{background-position:0% 5%}
    50%{background-position:100% 96%}
    100%{background-position:0% 5%}
}
@-moz-keyframes backgroundgradient {
    0%{background-position:0% 5%}
    50%{background-position:100% 96%}
    100%{background-position:0% 5%}
}
@keyframes backgroundgradient {
    0%{background-position:0% 5%}
    50%{background-position:100% 96%}
    100%{background-position:0% 5%}
}
h1 {
    text-align:right
    
}